[2016-05-06 07:37] Kannaj opened #1 "How to integrate with existing react-toolbox project"
Do you have an example explaining how to integrate css-themr with an existing react-toolbox project?

[2016-05-06 08:14] javivelasco commented on #1
Not yet, I'm working on a branch to do the integration for the next release. I'll try to have it ready during this weekend. The idea is to provide some functions to make easier the customization from context instead of using the raw package. The toolbox-loader approach would still work but you'd need to import and inject in the context the css for used components.

[2016-05-07 12:08] Kannaj commented on #1
the current problem as you previously mentioned in the react-toolbox page is over-riding the default css themes .. its getting a bit cumbersome to add '!important' to custom css files .. css-themr sounds like a life saver :) .. please let me know if i can help you in anyway to speed things up

[2016-05-09 15:40] NogsMPLS opened #2 "Only for CSS Modules/Class names?"
Is the scope for this project just for sending in class names down for theme styles?

Just curious if things like style objects/inline styles/radium are also on your mind for this project, or if that would be out of the realm of what this decorator should handle.

[2016-05-10 18:31] javivelasco commented on #2
Yeah it could be great to support all kind of approaches to styling. I've made the module to use it at work and for React Toolbox. In both cases I'm using CSS modules and I have no experience with Radium etc, so I'd be happy to discuss how to implement it but for now I have no clue.

[2016-05-10 18:42] javivelasco commented on #1
Thanks for your offering. I think I will have it ready by the weekend. I plan to release a new version including it for then, it would improve the way react toolbox is customized! :)

[2016-05-18 22:52] davidvictor commented on #1
any update on this? would love to be able to begin implementing this approach as soon as possible. Context theming react-toolbox will save my current project from maintenance issues down the road.

[2016-05-18 23:20] javivelasco commented on #1
Still working on it!

[2016-06-22 13:22] sohkai opened #3 "Feature Request: Provide `themeName` prop for components wrapped by `themr`"
Having to deal with the style object generated by module bundlers is typically unfriendly, for all the reasons outlined in [react-css-modules#whats-the-problem](https://github.com/gajus/react-css-modules#whats-the-problem).

It'd be nice if styling was done through a similar approach to what react-css-modules provides by way of a `themeName` prop that gets inspected by the HOC and is automatically

[2016-06-22 13:42] gajus commented on #3
I read the entire docs and don't see how any of this is different from `react-css-modules`. `react-css-modules` already provides ways to overwrite component styles, e.g. https://github.com/gajus/react-css-modules#extending-component-styles

Can you provide an example solving a problem with/ without react-css-modules/ react-css-themr?

[2016-06-22 14:18] SohKai commented on #3
@gajus In cases where you have a component tree but only want to change a few component's styles, it gets much harder to apply that change through just `react-css-modules` since its styling is only available to its direct parent component. `react-css-themr` provides a way to restyle these components from the top level, or really, from any level, down depending on your usage of the `ThemeProvider`.

[2016-06-22 14:44] gajus commented on #3
You can achieve theme inheritance using custom properties:

[code]

or using [React context](https://facebook.github.io/react/docs/context.html).

Can you produce a code example?

I have read the documentation, but I am unable to find the particular pattern that you are describing.

[2016-06-22 14:53] gajus commented on #3
Furthermore, `react-css-modules` could add a custom method used to resolve values from the properties, React context or anywhere else, e.g.

[code]

[2016-06-22 15:22] SohKai commented on #3
I assume you mean how `react-css-themr` themes components through `ThemeProvider`? There's an example at [context theming](https://github.com/javivelasco/react-css-themr#context-theming), but as an example:

[code]

Now any `Button` in the app will be styled either with the logged out styles if the user's logged out, or the logged in styles if they're logged in. There's no need to do any prop pass

[2016-06-22 16:32] gajus commented on #3
Theme-ing, in one way or another, is super important to `react-css-modules`. However, I think that `react-css-modules` should not provide implementation of theme-ing, it should only provide hooks required to implement theme-ing. Therefore I think that [`resolveStyles`](https://github.com/javivelasco/react-css-themr/issues/3#issuecomment-227769740) is quite an elegant solution.

If you'd like to di

[2016-06-22 23:08] javivelasco commented on #3
Hi guys! I couldn't read the whole thread yet but I wanted to drop a quick comment before going to sleep. First of all, congrats @gajus for the project, I looked at it long ago and it's a great work, I'm not familiar with the current state though. Thanks @SohKai for your kind words! :)

I've written this small module to be used with [react-toolbox](http://react-toolbox.com). It's quite difficult t

[2016-06-23 08:58] SohKai commented on #3
@gajus Ah, I see why you proposed `resolveStyles` now. At first I was hesitant because it's on a component level (and therefore tedious), but I agree with you that providing hooks in this style is more flexible and a better API.

@javivelasco This isn't possible right now with `react-css-modules` since it doesn't resolve styles in the way you described, but with `resolveStyles`, this would just fa

[2016-06-23 09:40] gajus commented on #3
`resolveStyles` is a function. There is no need (as far as I can think) for an additional HoC.

As you suggested, it would be a separate module altogether. I could list them under a new section in `react-css-modules` documentation.

I will experiment over the weekend with `resolveStyles` to discover useful patterns.

[2016-06-23 09:59] SohKai commented on #3
If I understand correctly, `resolveStyles` would be separately available on every component wrapped with `react-css-modules`'s HOC? If I wanted a single way to resolve styles, I'd need a way to inject that into all those instances, right? I'd rather not have to import a `resolveStyles` function from a module and put that into every usage of `react-css-module`'s HOC...

I think the one big thing th

[2016-06-23 10:03] gajus commented on #3
I was thinking more about providing at the time of wrapping the component using `react-css-modules`, such as in the earlier example:

[code]

[2016-06-23 10:17] SohKai commented on #3
That's what I mean; I think it'd be tedious to do this over and over again if you're just going to use the same resolve function, as you probably would in this case of theming.

Another benefit to using another HOC is that it could expose an API just for its style resolver, for example, if a component had `styleName`, it wouldn't get resolved, but if it had `themeName`, it would. Not entirely sure

[2016-06-28 12:49] BaoDelta opened #4 "Error "theme[key].indexOf is not a function" when using with isomorphic-style-loader"
Hi,

I am setting up some tests with [mocha-webpack](https://www.npmjs.com/package/mocha-webpack) for my project which uses react-toolbox. Because the tests are run in node.js environment, I must use isomorphic-style-loader instead of style-loader (see webpack/style-loader#109). However, because isomorphic-style-loader adds `_getCss()` and `_insertCss()` to the imported style object, I get the err

[2016-07-01 14:12] c0 commented on #4
I have the same issue and this fixes it.

[2016-07-01 20:01] javivelasco opened #6 "Avoid passing down own props"
A child component doesn't need to receive `composeTheme` prop. People are getting warning from this and it should be extracted instead of passed 🤕.

Coming from [here](https://github.com/react-toolbox/react-toolbox/issues/606)

[2016-07-04 19:05] javivelasco commented on #4
Of course @BaoDelta! Thanks for reporting!

[2016-07-04 21:34] BaoDelta commented on #4
@javivelasco I have created PR #7.

[2016-07-04 23:35] nkbt commented on #6
Fixed in 1.1.2!

[2016-07-05 08:21] javivelasco commented on #6
Yep! thanks @nkbt !

[2016-07-05 08:21] #6 closed

[2016-07-05 08:21] #4 closed

[2016-07-05 08:21] javivelasco commented on #4
Merged! I'm releasing a 1.1.3 including this :)

[2016-07-13 08:47] raveclassic opened #8 "Question: pure rendering support"
Hi!
First, thanks for this project, I was pleasantly surprised to know that css classnames concatination is already done after implementing it myself :) So I'll better go with this project.

I have a question about pure rendering optimization. As you always inject new `theme` object to props pure rendering checking is no longer working using `shallowEqual`.

There's of course a way to manually che

[2016-08-02 19:04] javivelasco commented on #8
Hi!! First of all thanks for your comment and sorry for this delayed response. I don't fully understand why `theme` creates an issue for the shallow compare. If I'm getting it right, when you compare `prevProps` and `nextProps` it should return `true` if you are passing the same theme.  Generating a new object on each render is supposed to change the reference but if you compare the values you sho

[2016-08-02 19:05] javivelasco commented on #1
Closing since it's done!

[2016-08-02 19:05] #1 closed

[2016-08-02 20:39] raveclassic commented on #8
You've got the point right - it's all about dynamic theme generation and passing it to the inner component which is also decorated with it's own theme. This way a merge always produces new object and its content should be shallowly compared together with the rest of props.

I'm writing a library of class decorators and currently in `@Pure` decorator I'm making an assumption that if a `theme` objec

[2016-08-03 10:28] raveclassic commented on #8
Have just reviewed your code - yes, you always create a new object anyway [here](https://github.com/javivelasco/react-css-themr/blob/master/src/components/themr.js#L55) and [here](https://github.com/javivelasco/react-css-themr/blob/master/src/components/themr.js#L87). So there's always a new reference to `theme` in props which makes `shallowCompare` to always return true.

[Here's](https://github.

[2016-08-16 09:18] denisborovikov opened #11 "Inject parent class into children"
Let's imagine we have a button component with a base theme.

[code]

And we want to extend its styles inside of our own component.
[code]

Section.css
[code]

As you can see the problem here is the same name of `content` node. We can't use the same css file for styles of our own component and component we use inside if they have the same class names.

We may try to update our own component and mov

[2016-08-19 12:33] raveclassic commented on #8
I've rewritter my decorator to expliticly accept array of objects for separate shallow comparation, so this issue can be closed

[2016-08-19 12:33] #8 closed

[2016-08-19 19:19] javivelasco commented on #8
Thanks @raveclassic !

[2016-08-19 19:26] javivelasco commented on #11
Nailed it! I've been thinking about doing the exact same thing you proposed. It would be backwards compatible and solves the issue. I had this very issue with [Dropdown Component](https://github.com/react-toolbox/react-toolbox/blob/dev/components/dropdown/theme.scss) in react toolbox. It uses an `Input` under the covers and defines the same classes for `label`, `error`, etc. This would make this l

[2016-08-19 20:05] javivelasco commented on #11
I'm still thinking about this... What about namespacing with an attribute instead of mapping? Less flexible but cleaner API. For example:

[code]

And assuming that your `Button` has a classname API with a `content` node:

[code]

We can even support this namespace setup from the `themr` factory function (even falling back to the component identifier)so a button can have by default a namespace tha

[2016-08-20 03:27] denisborovikov commented on #11
Namespacing looks good. Not so obvious as mapping but you don't have to list all classes manually. I like to use namespace as a second prop with the theme as you can see the namespace's name at the same place where you use it (in your parent component, not button itself.)

[2016-08-20 08:12] javivelasco commented on #11
Great!

[2016-08-21 09:13] denisborovikov commented on #11
Here how I see it. `namespace` and theme prop should be used together. I don't know does it make sense to add support of the namespace to local/context styles.

[2016-08-21 18:23] istarkov opened #15 "What the idea behind deep merging if theme class name contains in parent class"
Thank you for this library, I have a small question about `COMPOSE_DEEPLY` logic.

Having function [themeable](https://github.com/javivelasco/react-css-themr/blob/2bf15952cc95efd7ffe40e620c6779ca499bb652/src/components/themr.js#L85)

I got that merging `style` and `theme` objects has following logic.

[code]

so in first `themeable` call - classes are combined together but in the second call the t

[2016-08-22 15:36] k0r8i opened #16 "Context class order"
Hi there!
First of all - thanks a lot for your library!
I was working now quite a bit on some issue I tried to solve.
Let's assume I do have a default button from react-toolbox/lib/button
that I'd love to style using ThemeProvider.
I do add my own styles through RTButton and expect default values to be overwritten.
They'll get rendered into something like class="test__button___hPsIx [...]".
Though

[2016-08-22 15:37] #11 closed

[2016-08-22 15:45] denisborovikov commented on #16
There are no any difference classes order. If the classes have the same specificity (https://www.smashingmagazine.com/2007/07/css-specificity-things-you-should-know/) the last class declaration wins.

[code]

[code]

You will see green TEXT.

[2016-08-22 16:14] javivelasco commented on #16
Thanks @k0r8i! First of all you need to make clear what kind of customization do you want to make. As @denisborovikov pointed, the class order does not affect the final styles applied. If you want to override a class (not a particular style but all the styles that class is setting) you probably should use `composeTheme` to specify so because `themr` assumes you want to concatenate with the origina

[2016-08-22 16:17] javivelasco commented on #16
One more thing. The most common use case for the context in react toolbox is when you import every component raw and feed the styles through there. So you may want to add styles for every component used in your application. This is exactly what the new playground is going to do: processing the theme live using postcss and then process it using postcss-modules to get a module that can be injected i

[2016-08-22 16:36] k0r8i commented on #16
@denisborovikov darn, you're right - I got a bit confused there...
Just to get a feeling on how files will become included when using themr:
[code]
... with test.scss
[code]
How would I have to sort includes to successfully get test.scss included before the default lib/button/theme.scss? (not to mention using config variables in that case would be possible as well ;) )

[2016-08-22 18:18] javivelasco commented on #16
In your example I guess the original styles would be bundled before but you shouldn't relay on it. You are importing `Button` from `lib/button` so it will come with styles bundled. If you want to pass a theme to a Button that has styles probably what you want to do is to create an specific type of button with some overrides. I would suggest to create a specific type of button instead of passing st

[2016-08-22 18:35] javivelasco commented on #15
Thank you @istarkov !!

Now that you mention it... 🤔 Probably when I first coded the function I wanted to avoid including classes twice... but you are right. CSS Modules is already protecting you against this (assuming you hash your classes). I never thought about a class being a substring of another class 😬. This lib can be used without CSS Modules and this behavior can lead to issues in those sc

[2016-08-22 18:36] #15 closed

[2016-08-22 18:40] javivelasco commented on #3
Sorry @sohkai I cleared the notification by mistake and totally forgot about this. Did you get any progress? I've lost a bit of context on the thread and maybe you get some thoughts clear during this time. May you give an update? Check this PR #14 coming for next release. I think you may find it interesting, what do you think??

[2016-08-22 18:42] javivelasco commented on #2
@NogsMPLS did you have any idea on how can we integrate with inline styles approaches out there? Probably just allowing to merge style objects could be a step forward assuming you'll use the `theme` prop to inject styles in `style` props rather than `classNames`. Also I think there should be a priority on merging. For example inline > default > context.

[2016-08-22 19:07] k0r8i commented on #16
Awesome, that perfectly clarified my (mis)understandings!
Alright - importing 'react-toolbox/components/button/Button.js' and setting styles works just as expected.

:beers:

[2016-08-22 19:07] #16 closed

[2016-08-22 20:10] javivelasco commented on #16
Great! 💃

[2016-08-23 07:51] sohkai commented on #3
@javivelasco Unfortunately I got pulled away into doing something else and haven't been able to think about this. I think @gajus and I's conclusion was that the work should be done first on `react-css-modules` but I haven't had the time to push a PR there. I think if you want, you can close this issue until it becomes apparent that work also needs to be done here.

[2016-08-23 09:30] javivelasco commented on #3
Ok! If there is something we can do to improve integration just reopen. It looks like the lib is gaining popularity and I'd love to make it as good as possible :)
Thanks and sorry again for my late response @sohkai !!

[2016-08-23 09:30] #3 closed

[2016-08-23 17:53] gharwood1 opened #19 "Deeply merging enhancement"
While this does offer the most flexibility, I think it can be improved to override styles set by parent themes/defaults.

[code]

Take this example. I think it would be cool to see specific nested styles defined in **global** overwritten if also defined by **specialCase**.

@javivelasco If I am understanding correctly, this might be pending work on **postcss-apply**?

[2016-08-23 19:34] javivelasco commented on #19
I never thought about combining themes from an upper context. Right now the code assumes that you are using just one provider. Since usually providers are defined on the top of your app, maybe you can just merge both themes using Javascript? A deep merge from lodash should be enough.

Apart from that, maybe I'm lost in translation :/ How is this related with postcss-apply?
You can always choose th

[2016-08-23 19:51] gharwood1 commented on #19
I'll try again via another example(ignore nested ThemeProviders) :

[code]

In this example I expect the default `Button theme.scss(RTButton is the Key)` to get merged with my overrides specified in `global` (also specified with RTButton).

An example attribute I would like to override could be:

**Default**
[code]

**Override by global**
[code]

In this case they both get applied to the browser,

[2016-08-23 20:18] javivelasco commented on #19
Oh I get it now. The thing is that we are getting modules but not the actual CSS. Processing the css is therefore out of the scope of this library. I know see what you mean with apply. It would work as something complementary but it has an important caveat (once [this](https://github.com/pascalduez/postcss-apply/issues/10) is resolved). Doing:

[code]

And then importing that file would work like

[2016-08-23 20:36] gharwood1 commented on #19
@javivelasco No worries, Like I mentioned. One Work around is to include using the !important flag. Thats usually a big no no, but In this case since we are keeping things modularized, I think I am okay with it. I'll keep an eye out on the `postcss apply`.

[2016-08-23 21:46] javivelasco commented on #19
In any case it's better if you check the priority of the selector in the browser and boost your own by replicating the same plus a classname for example. I have to revisit react toolbox styles to try to reduce specific selectors as much as possible.

Anyway apply will solve some issues soon :)

[2016-09-07 12:53] wtgtybhertgeghgtwtg opened #22 "Add theme to childContext"
Let's say I have some two components, `ChildComponent`

[code]

and `ParentComponent`

[code]

For the `theme` prop of `ParentComponent` to be applied to `ChildComponent`, it has to be explicitly passed down.  It would be a breaking change, but could `Themed` define `getChildContext` so that the `theme` of `ParentComponent` is automatically part of the `theme` of `ChildComponent`?

[2016-09-09 18:27] javivelasco commented on #22
I guess there is something we could do to handle these cases explicitly. If a child component can be considered part of the parent component, they both can define (and must define) the same key. For example `themr('Radio', style)`.

If you provide a theme via context it's going to work nicely because they use the same key but I guess that if you pass down a style to a parent of an specific type, i

[2016-09-15 15:02] dchambers opened #23 "More control over merge ordering."
First off, thanks for an awesome project that's helping to solve the CSS Modules theming conundrum 👍 .

Although `@themr('injectedStyles', localStyles)` allows the injected stylesheet to override the component-local styles (where the override granularity can be increased if that's helpful), there are other more complex ordering strategies that can be useful depending on the project, so I'd really

[2016-09-23 14:37] raveclassic commented on #22
@wtgtybhertgeghgtwtg
You can easily set the same theme for different keys when constructing context:
[code]
On the other hand, if you accept exactly the same theme in different components why not to use the same keys (names) for them?

[2016-09-26 07:01] istarkov opened #25 "Themr breaks shouldComponentUpdate shallow equal optimization"
Themr breaks shouldComponentUpdate shallow equal optimization.
Every new render themr returns a new object reference for theme object, so all subsequent optimizations based on `shallowEqual` like `pure` recompose enhancer always returns true.
As `nextProps.theme !== props.theme`.

I'll create a PR to fix.

[2016-09-26 09:45] raveclassic commented on #25
Please describe why do you think it's a responsibity of `themr` to handle optimizations like `pure`-rendering out of the box?
I believe if one has to use objects in props instead of plain values then such cases should be handled explicitly.
IMO nothing is broken here, it's an expected behavior of using `shallowEqual` and if you need special behavior you should enhance your `shouldComponentUpdate`

[2016-09-26 10:03] raveclassic commented on #23
@dchambers If I understand you right you need an ability to mix multiple theme objects on component declaration. You could use `themeable` function to mix multiple themes in one and then pass it do decorator:
[code]

Please correct me if this's not what you need.

[2016-09-26 10:15] dchambers commented on #23
Hi @raveclassic, thanks for providing some options here. I wasn't aware of the `themable` function, so it's good to know about it.

While the presented solution allows more ordering flexibility around the local styles that the component itself provides, it doesn't add any flexibility around the themed styles that are being injected in from the outside -- `'Component'` in your example -- whereas I

[2016-09-26 10:34] raveclassic commented on #23
@dchambers You are welcome, `themeable` is just undocumented. =)
AFAIKS you need to force some of the base component styles (defined in decorator) to override the styles came from props/context, don't you? Well it's seems a bit unclear why would you do that.
Currently theme is merged with the following priority: `context` defined in `ThemeProvider`, `base` theme defined in `themr` and then compone

[2016-09-26 10:34] istarkov commented on #25
@raveclassic It's not the responsibility of `themr` to handle optimizations, but it should not break the usual components lifecycles if it added.
As it is a enhancer it should not affect component behaviour, so it should not generate a new properties every rerender as it will break optimized component logic.

[2016-09-26 10:36] raveclassic commented on #25
@istarkov Agree, but it actually is the default behavior - `themr HOC` addes an `object` to child's props. Why should `shallowEqual` ignore this object implicitly?

[2016-09-26 10:39] istarkov commented on #25
It is not ignored. The only change here is an optimization allowing not to recalculate theme objects if nothing has changed. And a good news this optimization solves other non wide issue

[2016-09-26 10:43] raveclassic commented on #25
@istarkov Yes, you are right, sorry =)
Well, what about detecting context changes?

[2016-09-26 10:46] istarkov commented on #25
I thought about context - the problem that in that case you should implement something like, like in react-router (new) and redux, where you should subscribe on context changes explicitly.
Not sure that it's needed for this small library.
But may be I'm wrong.
(We does not use context for `themr`, and not sure that anybody who use it changes it on the fly)

[2016-09-26 11:22] dchambers commented on #23
We don't currently use the props approach because they don't help with the nested components that re-usable components will be using internally, but which also need to be themed. That leaves only the basic styling that the component provides and the context theming that the app provides, which isn't enough.

The motivation for doing what I'm doing is that I'd like to create a set of re-usable comp

[2016-09-26 11:52] raveclassic commented on #25
@istarkov But now `this.theme_` is composed without context even if pure-rendering is disabled, this is a breaking change then.

[2016-09-26 12:00] istarkov commented on #25
Where is no dependency here on pure rendering at all, we can forget word pure.
context is used only if one of three property has changed, and not used in usual rerendering.
From one sight it is a problem, from the other are not, as at current `themr` version there is also no mechanism to notify component about that context has changed.

So the only difference that in current themr version some ran

[2016-09-26 12:06] raveclassic commented on #23
That's why I've opened #24

This is exactly what I'm also trying to achieve. I've ended up with not including base styles into components themselves but to include them at base context, [here's an example](https://github.com/devex-web-frontend/dx-components/blob/master/src/config/theme.js). Then I can modify my library context in consuming project by just extending the default theme context. Addit

[2016-09-26 12:16] raveclassic commented on #25
I do not state that theme should be updatable by context changes. As you've already pointed it's another problem and it should be solved with the ways like in react-router.
I meant that initial theme composition in constructor and in `componentWillReceiveProps` does not take context into account anymore and therefore it's a breaking change.

[2016-09-26 12:19] istarkov commented on #25
Why it does not take a context as it is the same source as before? As `this.getContextTheme()` was called as it's called not, no difference.

[2016-09-26 12:21] istarkov commented on #25
@raveclassic also please look at tests all tests are passed https://github.com/javivelasco/react-css-themr/blob/master/test/components/themr.spec.js

[2016-09-26 12:22] dchambers commented on #23
Awesome 👍

This is perfect! I need to study your 'dx-components' library and try that approach out myself and see how I get on.

Thanks for this excellent code snippet showing all the different ways you can go about doing this. That really helps. It's also interesting to see that you're using the `themr` function instead of the `@themr` decorator (also undocumented :smile:) as we're also using tha

[2016-09-26 12:22] #23 closed

[2016-09-26 12:40] raveclassic commented on #25
@istarkov Ahh makes sense now, sorry, didn't notice. At last we need to wait @javivelasco to take a look.

[2016-10-01 07:00] istarkov commented on #25
Seems like a good library to solve context issues https://github.com/ReactTraining/react-broadcast

[2016-10-01 09:39] #25 closed

[2016-10-01 09:40] javivelasco commented on #25
Thank you @istarkov and @raveclassic, beautiful conversation 😄 I'm merging 👍 there are no breaking changes and I agree that updating context should not be solved in here. I'm also releasing a patch

[2016-10-01 09:57] javivelasco commented on #22
Yeah, you're right, that's what we are doing with react-toolbox. Just using the same key for both child and parent if the belong to the same complex component

[2016-10-31 13:42] gharwood commented on #19
@javivelasco any news here? I believe https://github.com/pascalduez/postcss-apply/issues/10 has been closed. I haven't had time to test.

[2016-11-02 16:47] martinbethann opened #30 "Add CSS example to MyThemedButton in documentation"
I was hoping you could add the CSS below the first example in the documentation.  I need to pass down the icon type via a prop but I'm unable to implement a BEM modifier using the context themr with CSS modules.

    { icon ? <i className={theme.icon}>{icon}</i> : null}

Maybe I'm missing something but how would I go about styling a modified icon, say .twitter?  When I try this, {theme.icon} is ex

[2016-11-04 09:25] javivelasco commented on #30
Well, I think that if you are generating that `<i className="twitter" />`, it's known from upside that `twitter` will be the class. In that clase you can pass en extra class in the `className` and, as far as it's defined in the same `style.css` module, use it as a modifier for the `.icon` property.

I don't know if I get what you mean but I guess that's it. If you think something is not clear enou

[2016-11-04 09:29] javivelasco commented on #19
Not actually @gharwood. Honestly I think we can do nothing with ordering. This issue should be solved by controlling how modules are bundled together from your bundler config and overriding defaults with postcss plugins. Otherwise boosting priority is the only solution I think

[2016-11-04 09:38] javivelasco opened #31 "Document namespaced theme feature"
Now it's possible to namespace a theme by using a `themeNamespace` property for the component. This avoids collisions between modules of different components using the same classname. It's a feature that it's working and it's published but not documented. We need to write a section detailing the API which is very simple!

[2016-11-04 18:50] martinbethann commented on #30
@javivelasco Ahh, I got it.  It was just my execution.  I needed  `{ icon ? <i className={theme[icon]}>{icon}</i> : null}`  Thank you so much on all the work with this library!

[2016-11-04 18:50] #30 closed

[2016-11-04 21:36] javivelasco commented on #30
Happy to help!! Thanks 😄

[2016-11-07 13:57] wtgtybhertgeghgtwtg opened #32 "Remove `.npmignore`."
Since `files` is [explicitly including](https://github.com/javivelasco/react-css-themr/blob/master/package.json#L53) the only thing `.npmignore` is trying to [explicitly exclude](https://github.com/javivelasco/react-css-themr/blob/master/.npmignore#L1).

[2016-11-10 05:24] gndplayground opened #34 "Rerender component when update theme context?"
Hi, I'm making an app base on react-toolbox. My app has 2 themes. I want to add a button to change between themes. My stack includes react-router, redux, redux-saga.
When user changes theme, my app will dispatch an action and return props to component and send to Theme Provider like below.

[code]

But when changed a theme, nothing happen. But when I change to another route. It seems the new theme

[2016-11-22 15:08] delijah commented on #34
Realted to https://github.com/facebook/react/issues/2517.

We need an event that informs us about changes within the theme to forceUpdate the consuming component.

[2016-11-22 16:30] #32 closed

[2016-11-22 16:57] javivelasco commented on #34
What could be the API for this? At the end I think that you have control over it. Changes in context are not propagated so maybe you can do something else from outside. Controlling when the change happens is as easy as wrap the `Provider`. If there is something we can do I'll be happy to accept a PR!

[2016-11-27 09:48] zverev opened #35 "npm build diverges from repository"
Hi!

I still have a problem with compiled sources (https://github.com/javivelasco/react-css-themr/pull/29). Seems that npm's `lib` dir differs from the one I have after building the repo, so I have to `npm link` to get this work in IE :(

Here is my script to reproduce the issue:
[code]

And here is the output:
[code]

Notice this line:
`var _this = _possibleConstructorReturn(this, (_ref = Themed.

[2016-11-27 11:25] javivelasco commented on #35
That's weird, maybe a rebuild would fix it?

[2016-11-27 11:26] zverev commented on #35
What actually do you recommend to rebuild?

[2016-11-27 11:54] javivelasco commented on #35
Don't know WTH is going on. Just published a patch with the latest build and still diverges :S

[2016-12-04 02:34] thesbros commented on #35
Something similar is happening to me too. My recent pull request that added typings is not working, as `index.d.ts` is not included in the npm published version; even though it is not in `.gitignore` or `.npmignore`.

[2016-12-09 22:30] petemill commented on #19
@javivelasco can we supply an example of how to override defaults with postcss plugins?

[2016-12-13 16:12] DmitryFillo opened #37 "Not working with IE10"
`this.props` at [Themed component](https://github.com/javivelasco/react-css-themr/blob/master/src/components/themr.js#L73) is undefined at IE10. It's because of babel configuration, [more info at babel website](https://babeljs.io/docs/usage/caveats/#internet-explorer). So if .babelrc will contain `["es2015", { "loose": true }]` instead of `"es2015"` then all will works fine.

Any thoughts?

[2016-12-17 18:20] #37 closed

[2016-12-31 08:12] Podlas29 commented on #2
Maybe you could pass theme like so:
[code]
And then library under the hood would inject either `{style}` or `{className}` object, depending on mode in which it operates.
Then if you would have components library and decided to switch from css modules to inline, you would not have to touch components at all!

Have great day everyone!

[2017-01-04 08:37] javivelasco commented on #19
Of course @petemill

[2017-01-06 20:00] icd2k3 opened #41 "Default theme is clobbered by parent theme"
I love the idea of this module, but I'm having some trouble getting default themes working with deep merging... For example:

Themed component:
[code]

Default theme:
[code]

At this point, everything is working fine and my component is showing its default theme of 1 red button and 1 green. The problem arises when trying to merge styles from a parent component...

Parent:
[code]

Parent's theme:
[

[2017-01-06 21:05] icd2k3 commented on #41
Turns out using the decorator is the problem...

`export default themr('MyThemedComponent', styles)(ThemedComponent);` works!

[2017-01-10 10:58] raveclassic commented on #34
@delijah It seems that you are renderinging `Router` inside `ThemeProver`. This can be solved by rendering `ThemeProvider` inside root route, for example in an `App` component which is bound to `/` route.

[2017-01-11 08:53] javivelasco commented on #41
Hi @icd2k3 !! What do you exactly miss? Can't see the issue in the former code

[2017-01-11 08:53] #34 closed

[2017-01-11 09:48] raveclassic commented on #2
@Podlas29 Such approach (hiding theme processing in the lib) would also hide all possibilities to modify whole theme object in an intermediate component and passing modified theme/parts of theme to its children. Moreover it would increase amount of hidden logic and add much more complexity to handling cases when style and className props are passed to decorated component.

What about inlining I th

[2017-01-11 15:33] icd2k3 commented on #41
Hey @javivelasco, thanks for the reply (and the module!). I believe the problem I was seeing was related only to using the @themr decorator.

I realized decorators are disabled in babel v6 so I installed [this](https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy) which allowed me to use decorators, BUT this is when the issue arose where the theme sent from the parent component

[2017-01-11 15:33] #41 closed

[2017-01-11 18:34] javivelasco commented on #41
Yeah, since they are deprecated it might be a good idea to change the docs to use it just as a funcion. Will do!

[2017-01-26 22:12] jussch opened #42 "Release for 1.7.2?"
I just recently updated a large chunk of my dependencies to fix some issues I was having. Once I updated however, react-css-themr started breaking my build. After some investigation, it appears the issue has already been fixed with [this commit](https://github.com/javivelasco/react-css-themr/commit/cb0501fe98317318ec4fa7272d66ab3926719455).

Wondering when react-css-themr is going to get the hotfi

[2017-01-28 11:23] javivelasco commented on #42
Done! Sorry for taking this long

[2017-01-28 11:23] #42 closed

[2017-01-30 15:19] jussch commented on #42
Thanks a bunch!

[2017-02-07 12:16] landabaso opened #44 "Uncaught TypeError: originalValue.split is not a function with RT-beta-6"
I'm getting:

`Uncaught TypeError: originalValue.split is not a function` after updating RT from beta-4 to beta-6...

This error comes from `function themeable`.
I debugged it a bit and it throws an error because it assumes that originalValue is a string.

However:`typeof mixinValue === function`, and `typeof originalValue === function` (when it throws).

**EDIT**: Now I see... These types are fun

[2017-02-08 21:06] #44 closed

[2017-02-08 21:06] #35 closed

[2017-02-08 21:07] #2 closed

[2017-02-14 14:31] raveclassic commented on #22
@wtgtybhertgeghgtwtg What you are suggesting is a good old cascade when Parent component affects _all possible Children_ on all levels deeper. Such behavior is unsafe and was meant to be eliminated by introduction of css-modules. However, `ThemeProviders` could still be nested to make such behavior explicit and #19 tracks it.
@javivelasco I believe this issue can be closed.

[2017-02-20 11:43] javivelasco commented on #22
Cool, thanks @raveclassic !

[2017-02-20 11:43] #22 closed

[2017-03-02 16:42] JimmyLv opened #49 "Invalid prop `theme` of type `string` supplied to `ThemedHeader`, expected `object`."
I love this idea, but I got this error when following the README.md doc:

[code]

[code]

Error happened when pass theme as prop in parent component:

[code]

[code]

[2017-03-02 20:45] fredantell commented on #44
I had the same issue due to using isomorphic-style-loader. Since I didn't fully understand the explanation above, for the sake of anyone else that stumbles on this: isomorphic-style-loader is adding two functions (insertCss() and getCss()) onto the CSS Module style object. Before this change react-css-themr was assuming the style object would always only contain keys that had strings as values. Wh

[2017-03-02 20:49] landabaso commented on #44
I'm using the beta6 of RT with themr 2.0. It's works fine.

[2017-03-02 21:13] landabaso commented on #44
I read about the breaking changes (innerRef vs withRef). For some reason it did not affect me. May be you can try. There's a deprecation message that will be logged to the console if it conflicts with your code.

[2017-03-03 02:38] fredantell commented on #44
I'm a little ignorant of how to get react-toolbox to install 2.0.0br6 when it lists 1.7.2 as a dependency. I believe I read that if I included react-css-themr 2.0.0 as an explicit dependency then if I blew away my node_modules and did a fresh ```npm install``` it may not install 1.7.2. I believe I can also edit my yarn.lock file or create an npm shrinkwrap. I feel a bit weird pushing this to my pr

[2017-03-08 16:00] Podlas29 commented on #19
I would actually be super interested in merging themes in ThemeProvider if there was already ThemeProvider higher in component tree. We have a multi-module application where you would define styles in app root (first ThemeProvider) and then modify them on per module basis.

Would you be ok with such change? I am willing to make a pr, if needed.

[2017-03-12 15:14] ctumolosus opened #50 "Hoist non-react statics in higher-order component"
Static variables in components wrapped by `themr` are lost. What are your thoughts on using [`hoist-non-react-statics`](https://www.npmjs.com/package/hoist-non-react-statics) to resolve this?

[2017-03-15 12:34] powah opened #52 "themeable() merging issues"
In the nested theme case shown below:
[code]
we get an error:
_Uncaught Error: You are merging a string "" with an Object,Make sure you are passing the proper theme descriptors._

[2017-03-22 11:41] raveclassic commented on #52
@powah I belive I fixed it under #47 but it wasn't released, only merged. Try to checkout current master.

[2017-03-22 11:49] raveclassic commented on #49
@JimmyLv This is because `styles` is a css-module (just an object) and `header` is a string key with a _string value_ of actual generated classname when `theme` should be an object, not string. Just try `<Header theme={styles}/>`.

[2017-03-22 11:59] raveclassic commented on #52
@javivelasco Could you please release current master as `2.1.0`?

[2017-03-22 12:06] JimmyLv commented on #49
Thanks, sorry for the incorrect usage.🐒

On Mar 22, 2017, 7:49 PM +0800, Kirill Agalakov <notifications@github.com>, wrote:

[2017-03-24 10:03] raveclassic commented on #19
@Podlas29 Actually I also need such feature but just do not have time to make a PR :)

[2017-04-04 08:50] nilssonan opened #53 "ThemeProvider update theme?"
I have 2 themes.

 Want to be able to switch between them inside the application via a profile menu.

Wrapped ThemeProvider and pass the new theme to it but children of ThemeProvider does not receive the new theme. Childrens render-functions triggers but the props are the same. Problem with context?

[2017-04-04 15:16] raveclassic commented on #53
@nilssonan This happens because context changes are ignored by intermediate components with `shouldComponentUpdate` checks. https://github.com/facebook/react/issues/2517
Also related: #25

[2017-04-12 11:27] ctumolosus commented on #50
Any thoughts on this?

[2017-04-25 03:35] ctumolosus commented on #53
I'm doing something similar with React Storybook and ran into this problem as well. I looked at the implementation of the higher-order component and it does not update the value of `this.theme_` unless specific props are modified, thus ignoring context updates.

[code]

As discussed in #25, a solution is needed for updating children further down the tree when the context is changed. Anyways, I was

[2017-04-26 08:13] idangozlan opened #54 "Is there anyway to import more than one css?"
Hi,

Sometimes, there is need to import two or more css files, and I will give an example:
Says you have one `<Feeds>` component which contains many `<FeedA />` and `<FeedB />`, and those feeds contains some title which you wanna style same in FeedA and FeedB, but they have also their unique css.

Thanks

[2017-04-26 10:01] raveclassic commented on #54
Hi!

Firstly, are your `FeedA` and `FeedB` placed in the same context/directory as parent `Feeds`? If so then you just need to adjust their css.

Otherwise, if you inject into `FeedA` and `FeedB` their default styles (that unique css) and want to override that styles from _different parent component context_ there are multiple ways to do that.

1. Add styles to context by passing additional css ob

[2017-04-26 10:03] idangozlan opened #55 "Theme css is overridden by default css"
Hi,

I'm using this module with default css for component, and try to override it with theme css, but the default css is overriding the theme css:
[code]
SuccessButton.scss the default component css

[code]

Chrome Inspector:
<img width="340" alt="screen shot 2017-04-26 at 12 56 39 pm" src="https://cloud.githubusercontent.com/assets/1991021/25429111/964a3b64-2a80-11e7-9652-09772e722ddc.png">

(Sec

[2017-04-26 10:06] idangozlan commented on #54
I think you didn't get me, I don't want code duplications, and try to think that i have thousands of Feeds types, to define the same styles to each one of them / import it, will be not efficient at all.

If i get you wrong, please demonstrate your ways with code (inc. using this module), it will make it easier to understand :)

Thanks!

[2017-04-26 10:36] raveclassic commented on #54
@idangozlan Perhaphs I don't get what you are trying to achieve.. =( Could you please provide an example?
If you don't to want to duplicate styles then you should wrap them in a base component and reuse that component in other specific components.

[2017-04-26 10:41] raveclassic commented on #55
Check the order of imports in the file where you render `ThemeProvider`. This common error happens because if you import `App` component which imports `Button` component _after_ importing `'./theme-b/SuccessButton.scss'` then default `Button` style will override styles from context. This is an expected behavior.

If the order is ok then please provide more info or please make a complete gist.

[2017-04-26 10:57] idangozlan commented on #55
Well, i'm not importing the App/Button at all, im using it as a children prop:
[code]

[2017-04-26 10:59] idangozlan commented on #54
Finally I created component for those titles, it's really simple component but I think it's the best solution.

Thanks :)

[2017-04-26 10:59] #54 closed

[2017-04-26 13:01] raveclassic commented on #55
@idangozlan What is the order of imports of both `App` and `Button` in host component? Could you please provide a minimal representational gist/repo? The problem is no doubt in the order of imports but the info provided is not enough to find the place of this error.

[2017-05-01 14:12] pavel06081991 commented on #53
@ctumolosus, I use now your hack :) But maybe guys of this library are going to fix it somehow? Is it possible at all?

[2017-05-02 14:32] raveclassic commented on #53
@pavel06081991

Yes it's possible. Theme object in context should be replaced with any kind of observable (likely the fastest available for internal usage only) instead of a plain value. Then all comsumers (decorated with `themr`) should subscribe to that observable taken from context and merge with theme coming from props.
But there will likely be some performance impact which should be considere

[2017-05-03 16:27] idangozlan commented on #55
Finally, it was happen because i've used the `ThemeProvider` by wrapping `<App>` component (according to the `Readme.md`), but since it's complex and isomorphic app, I had to define it one my `client.js` file and my `server.js` files, specific to my project, those files contains the rendering of the `react-dom`.

[2017-05-03 16:27] #55 closed

[2017-05-11 15:13] ms88privat commented on #50
👍 we need this

[2017-05-11 17:58] UX-Unicorn opened #58 "Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
I am getting the following warning when upgrading React 15.5. Is there plans to fix this?

[2017-05-11 20:25] raveclassic commented on #58
The fix is very simple: according to official docs, propTypes should be imported from separate package. But unfortunately it seems that @javivelasco last time reviewed react-css-themr long time ago, there are still pending changes in master branch to be released and some open pullrequests. Until he takes a look there's no way to release this fix.

[2017-05-12 09:20] #50 closed

[2017-05-12 09:22] javivelasco commented on #52
Releasing today!

[2017-05-12 09:22] #52 closed

[2017-05-12 10:58] javivelasco commented on #58
Updated already, releasing today!

[2017-05-12 10:58] #58 closed

[2017-05-12 11:03] javivelasco commented on #53
Yep this is something more related to React than the library. Plus as @raveclassic says there are solutions to make it work so I'm rather closing :)

Thank for your patience!

[2017-05-12 11:03] #53 closed

[2017-05-12 11:03] #49 closed

[2017-05-12 11:03] javivelasco commented on #49
Thanks @raveclassic

[2017-05-12 12:01] alexeyMohnatkin opened #61 "Uncaught TypeError: this.props.mapThemrProps is not a function"

[2017-05-12 12:21] raveclassic commented on #61
Something went wrong... :)

[2017-05-12 12:34] raveclassic commented on #61
@alexeyMohnatkin Could you please provide a minimal representation gist/repo? I cannot reproduce the error.

[2017-05-12 12:59] javivelasco commented on #61
That's weird. All test are passing and there is a default value set up, it shouldn't fail unless you give an option that is not a function there. @alexeyMohnatkin please give us an example! :)

[2017-05-12 19:44] harsimranb opened #63 "Index.d.ts outdated in NPM Package"
The `index.d.ts` in the react-css-themr NPM package is not the same as the index.d.ts in this repository.  The one in NPM package does not have an option for `React.SFC<P>` in the `export function themr`, whereas the the export function in this repo's index.ts has `React.SFC<P>`.

You will need to publish the package with the latest index.d.ts.

[2017-05-12 20:12] alexeyMohnatkin commented on #61
I need time to make example. I didin't pass any new props. I've just updated react-css-themr and got this error.

[2017-05-13 08:50] #63 closed

[2017-05-13 11:13] alexeyMohnatkin commented on #61
It happens when I define defaultProps for decorated component. https://www.webpackbin.com/bins/-Kk0TTaHGCq00TebCuG1

[2017-05-13 16:19] raveclassic commented on #61
@alexeyMohnatkin This happens because you override static _after_ decorating the class. Just add them as static properties:
[code]

Or extend them instead of overwriting:
[code]

[2017-05-13 16:26] alexeyMohnatkin commented on #61
I've already found solution, thank you

[2017-05-14 10:18] #61 closed

[2017-05-16 08:42] jpsear opened #64 "Merging non class name styles"
I'm looking to create a HOC that can take string props, turn them into relevant styles and pass them in to be merged with the child component. I'm wondering if I can achieve this with `themr`.

Here is an example:

Child:
[code]

HOC:
[code]

Loading:
[code]

In reality, I want a consistent API across different components to tweak similar styles (I wouldn't pass actual values into props—like above

[2017-05-16 19:06] raveclassic commented on #64
@jpsear This is not supported out of the box and in my opinion is out of scope of this library.
However such feature has already been requested in #2 and there are [some thoughts](https://github.com/javivelasco/react-css-themr/issues/2#issuecomment-271824293) on details of implementation with moving merging strategy to an abstraction. To sum up this is still to be done.

[2017-05-17 07:45] raveclassic commented on #64
I believe it's a fine place to track this request taking #2 into account.

[2017-05-17 18:48] klimashkin opened #65 "Receiving/passing ref"
Hi! To continue our conversation at https://github.com/javivelasco/react-css-themr/pull/46

In 2.1.0 you added `mapThemrProps` with example:
[code]

But `withRef` is usually boolean, for example in react-redux, so it doesn't work.

It was case, when `@themr` hoc wraps another hoc. But what if vice-versa, I have places where it's wrapped by `@connect`.

It used to be simple convention: In hoc's ref

[2017-05-17 18:52] klimashkin commented on #65
Moreover, if I have hundred components with themr and redux, I need to write everywhere the same thing
[code]
That adds absolutely redundant data transformation on each render just to get underlying ref.

[2017-05-17 20:13] raveclassic commented on #65
@klimashkin Unfortunately I don't have enough practice with innerRef/withRef because, well, I just don't use it. But anyway, why can't we just pass actual ref prop through all the hocs? Does React somehow violate accessing it?
I mean what was the point of entrodusing withRef/innerRef prop? Maybe @javivelasco can shed some light on it?

On the other hand, when you assume that underline instance has

[2017-05-17 20:23] klimashkin commented on #65
@raveclassic

Because of React design, child component never receive it, react use it to pass components instance for element.

And with `innerRef` the same - parent should know that child component wrapped in hoc with `innerRef`, but statically - on react element creation time. In case of `getWrappedInstance` it can check if child component is a hoc or not with such method dynamically, in safe re

[2017-05-17 20:32] raveclassic commented on #65
@klimashkin I see. Do you suggest reverting replacement of `withRef` with `innerRef` or do you have some more elegant solution?

[2017-05-17 20:41] klimashkin commented on #65
That's why I asked @javivelasco at https://github.com/javivelasco/react-css-themr/pull/46#issuecomment-284483101 about introducing to react community new convention with two properties: `innerRef` and `passInnerRef`.

I'm pretty happy with current `withRef` and `getWrappedInstance` convention - it does job well.
And because of new `innerRef` and `mapThemrProps` I can't update react-css-themr to 2.

[2017-05-17 20:59] czebe commented on #53
@ctumolosus
Could you provide an example of your solution?

[2017-05-17 21:03] raveclassic commented on #53
@ctumolosus There's no solution currently as well as any example :) It was just a suggestion for further implementation.

[2017-05-17 21:04] raveclassic commented on #65
I don't believe that introduction of a new convention looks like a solution but still I agree that innerRef could be reverted back to withRef at least to be similar to other existing hocs.

[2017-05-17 21:21] ctumolosus commented on #53
`ThemeChooser` is the parent of all components returned by my React Storybook stories. It renders a toolbar with a dropdown that you can use to select the desired theme and wraps its children in `ThemeProvider`.

[code]

[2017-05-18 07:38] czebe commented on #53
Thanks Christian, this works like charm:

[2017-05-22 16:26] javivelasco commented on #64
👍 !!

[2017-05-22 16:26] #64 closed

[2017-05-28 16:40] idangozlan opened #66 "When using ExtractTextPlugin it break the app"
[code]

Any special instructions to ExtractTextPlugin usage?

[2017-05-29 10:38] raveclassic commented on #66
@idangozlan Could you provide a minimal representation gist/repo?

[2017-05-30 18:46] javivelasco commented on #66
Yes please

[2017-06-01 08:21] raveclassic commented on #31
I think it would also be nice to update the rest of the docs including new features: nested themes, theme spreads etc.

[2017-06-07 21:05] idangozlan commented on #66
Ok, so I investigate this issue very deeply, debug it and found the issue.

When using react-css-themr and supplying as base stylesheet which is empty / has only :global rules, for ex:

[code]

and App.scss is empty / only :global rules, `extract-text-webpack-plugin` put in the webpack assets file "// removed by extract-text-webpack-plugin" instead of just empty json `{}`.

when `react-css-themr`

[2017-06-07 21:05] #66 closed

[2017-06-16 13:49] artem-popov commented on #31
Do you plan to support namespaces in default/from context theme?

[2017-06-16 14:24] raveclassic commented on #31
@artem-

[2017-06-16 14:34] raveclassic commented on #31
@artem-popov The problem with namespaces is that `themr` relies on the fact that classnames string start with namespace and checks it with `startsWith`. But actual classname construction is controlled by css-loader and it may prepend something to the classname with some different configuration.
Therefore I would suggest using nested themes - if your parent component contains some theme for its chi

[2017-06-22 07:02] artem-popov commented on #31
Sorry for late answer.
Let me explain my case.

I''m very often use HOC's and each of the HOC's add some feature to component and possible has it's own styles.

Styles are already in different files, and in my HOC I'm adding default theme.

I'm adding namespace with sass:

[code]

So, I have all themes merged all together:

- base one in context
- passed theme from prop
- default theme added by HO

[2017-06-22 07:33] raveclassic commented on #31
I don't see any problem with HOC's: you can still split HOC's styles and its child styles into different files and combine them into one theme object using `themeable` and nesting.
You gain all the profits you've enumerated and you don't need to mess with string values.

Please provide more concrete example if I don't get you right. But still I don't think namespaces in actual theme _values_ inste

[2017-06-23 09:41] raveclassic commented on #31
@artem-popov
What's more many devs use react and themr with typescript and namespaces break possibility to check the type of theme received in props because actual keys differ from defined in props interface. So I think it's another point for nested themes.

[2017-06-23 18:58] xli1000 opened #70 "Default theming example"
The `README.md` shows this example where a theme is passed in as a prop to override the default theme:

[code]

But this didn't work for me--since `style` is an object like `{ button: 'button-1jq92' }`, `style.button` is a string and can't be used to override the default theme.

I had to do something like this:
[code]
or just `theme={style}`.

Am I missing something, or is this a mistake in that e

[2017-06-24 12:42] raveclassic commented on #70
You are correct, it's a mistake in the docs. `theme` prop always accepts an object.
Related: #31

[2017-06-25 20:08] artem-popov commented on #31
I'll think about that :)

[2017-06-26 14:19] xli1000 commented on #70
I see that a PR has already been submitted to correct this: [#69](https://github.com/javivelasco/react-css-themr/pull/69).

[2017-06-27 14:13] austb25 commented on #55
@idangozlan I am having the same issue. Can you post your solution?

[2017-06-27 14:18] idangozlan commented on #55
I had to import part of the scss from routes files ( or route point), you can try also from the root App component, but it was important to do the import on the very first part of your app.

[2017-06-28 21:50] raveclassic opened #71 "Possible drop of support of using themr as decorator"
Currently I'm trying to rewrite `themr` in TS to provide consistent up-to-date typings and I'm in the middle of the struggle started in #39
The problem is that switching from correct `React.ComponentClass<P>` to component constructor type (with `new()`) is completely broken with `strictNullChecks` on, [here's my comment](https://github.com/javivelasco/react-css-themr/pull/39#issuecomment-279666876

[2017-06-28 21:58] odensc commented on #71
I don't use themr anymore, but when I did I used decorators.

[2017-07-06 10:12] Pajn commented on #71
You'll never be able to create good types for a decorator but you might be able to use what you now have but sill provide decorator support (with bad types) using a function overloads https://www.typescriptlang.org/docs/handbook/functions.html#overloads

If you publish your PR I can take a shot at it.

[2017-07-06 14:30] raveclassic commented on #71
I need some time to actualize tests and migrate to latest TS 2.4.1

[2017-07-26 01:54] acthp commented on #55
So... a consequence of this behavior is that, out of the box with react-css-themr, the css is *always* wrong, because the order of dependencies from ThemeProvider -> App -> widgets -> widget base css, will load the base css last?

Is there some solution besides coercing loading of the base css before instantiating ThemeProvider?

Makes me wonder if there isn't a lazy-load solution that would resol

[2017-08-08 17:05] #70 closed

[2017-08-11 09:12] medfreeman opened #72 "Allow a theme composition function as option"
Hi,
thanks for your work, this module has been a tremendous help in my projects!

**Proposition**

Having an option allowing to specify a function that will be used in place of [`getTheme`](https://github.com/javivelasco/react-css-themr/blob/8d12cfdca26c141c549a85e8e3065c45b83be654/src/components/themr.js#L115-L126)
having `contextTheme`, `confTheme` and `propsTheme` as parameters and the resultin

[2017-08-15 17:26] sahilgupta202 opened #73 "Typescript compiler fails when using react css themr with error Default export of the module has or is using private name 'TReactCSSThemrTheme'"
Typescript Version : 2.4.2
React CSS Themr: 2.1.2

**Replication Steps**

1. Create a component that uses themr.
       `themr('Identifier')(ComponentName);`
2. Run the Typescript compiler

It will throw the following error
     ` error TS4082: Default export of the module has or is using private name 'TReactCSSThemrTheme'.`
     ` error TS4082: Default export of the module has or is using private

[2017-08-23 11:10] medfreeman commented on #72
What is your opinion about this ?

[2017-09-02 16:22] belohlavek commented on #73
Quick fix: just import it ;)

[2017-09-08 08:57] sahilgupta202 commented on #73
Yes @belohlavek we used that, but that is not a good solution because TS Lint will fail as we are not using them and those will be unsed imports. Also, importing is private member of a library is never good as it may change in future updates.

[2017-09-27 10:17] mgcrea opened #75 "Backport switch to `prop-types` package to the v1 branch to add compat with react 16"
After updating to react 16, I encountered the following error:

[code]

Would be great to add a 1.8 release with the switch to the `prop-types` package to maintain compatibility for people like us stuck on toolbox v1 for now.

[2017-09-29 11:18] landabaso opened #76 "Publish a new version with React 16 on npm"
Please ;-)

[2017-10-10 05:17] mcchin commented on #76
Please +1

[2017-10-12 22:03] krishnasaga opened #77 "Do context theme support tree shaking ?"
For example is have code like this

[code]

[code]
I'm using extract-text-plugin for webpack.
Will my final build contains CSS of other ass well ?

[2017-10-13 21:46] manuphatak commented on #75
Created a branch with this work.  https://github.com/javivelasco/react-css-themr/compare/1.7.2...bionikspoon:react_16

Tests are passing.  I don't know your release process.

[2017-10-19 15:58] manuphatak commented on #75
published a built version: https://github.com/bionikspoon/react-css-themr/tree/react_16_build

This fork is working it's way into production on my team.  Conversation here: https://github.com/react-toolbox/react-toolbox/issues/1703

[code]

[2017-10-21 23:31] decaluwepatrick opened #79 "Context theming works when app is run but not working when app is built"
Hi!

I use Context theming in my app, so that I can call a different layout dynamically, depending on a color passed as a get parameter in the url.

When I launch "npm start" to test my app it works perfectly, but when I use it with "npm run build", and visit the created page on my server, the app always loads the default theme, even when calling for a different color.

I am still a beginner in re

[2017-10-27 06:04] cardeo opened #80 "mismatch dependancy"
npm WARN react-css-themr@2.1.2 requires a peer of react@^0.14.0 || ^15.0.0-0 but none is installed. You must install peer dependencies yourself.

[2017-10-31 15:44] MrHavard opened #81 "Themr with pure functions"
Does anyone have an example of using themr with pure function components vs. classes and how to provide a default theme and then override that theme from a parent container? I've searched through the readmes and issue log and I'm not finding anything solid as an example for this case.

Here's my thought on how it should work
[code]
[code]
[code]
[code]

Default theme seems to work fine and the but

[2017-10-31 23:40] OscarBarrett commented on #81
I've done it without using classnames, e.g.

[code]

[2017-12-18 15:52] asturur commented on #76
please

[2018-01-02 18:52] emersonbroga commented on #76
Anyone working on this?

any other issues on react16 other than PropTypes?
which now should be `import PropTypes from 'prop-types';`

[2018-01-24 14:23] medfreeman commented on #72
bumping, just want you know if you find this interesting, and if i should start a PR in hope it will be merged.

[2018-02-05 14:35] DominikGuzei commented on #76
Also need this!

[2018-02-12 05:46] huchenme commented on #61
I think the error message is not helpful. I have accidentally put `defaultProps` for one of the components using `react-css-themr` and got this error message "Uncaught TypeError: this.props.mapThemrProps is not a function" where no one has any clue where to find the root cause.

The expected behavior will be no runtime error if someone overrides the `defaultProps` in another component.

[2018-02-12 16:35] dchhetri opened #83 "Update to be react 16 compitable"
This might just be as little work as updating peer dependency

[2018-02-14 11:20] idavollen opened #85 "how to override styling in default css for a themed component"
quotation from README, "There are three possible sources for your component. Sorted by priority: context, configuration and props"  hints to me that theme in context has lowest priority, then configuration(local theme or default theme) with higher priority, right?

Given that I decorated my Button react component (@themr("MyButton", defaultTheme)) with default.css

`.button {
background-color: blu

[2018-03-14 22:14] klimashkin commented on #65
The new ref forwarding api is coming to react

https://github.com/bvaughn/rfcs/blob/ref-forwarding/text/0000-ref-forwarding.md
![image](https://user-images.githubusercontent.com/576077/37433739-53dcb168-279a-11e8-8929-dda350eb9aec.png)

https://reactjs.org/docs/forwarding-refs.html

[2018-04-08 16:49] harsimranb commented on #83
I haven't investigated the new Context API in react 16, but I wonder how much work it is to start using that.

[2018-04-09 14:20] MrHavard opened #87 "Has this project been abandoned?"
I've noticed that quite a few issues out here have not been commented on by the maintainer and there are 8 pull requests that have been sitting waiting 6 months or more. Is there a more active fork or is there another alternative to react-css-themr that is better or more frequently updated.

For the record themr works well for me in how I'm using it today. But I worry with how quickly the market m

[2018-04-23 22:55] markusguenther commented on #75
Hi,

this is already into the master and the issue can be closed in favor of #83 I guess :)

**see at commit:**
https://github.com/javivelasco/react-css-themr/commit/b7fec0de355ece7981ef9c3a194b0a78c687d103

[2018-04-25 06:45] dheeraja00 commented on #75
@markusguenther I think this is not merged to master, in master I can still see older react version `"react": "^15.5.4",`

[2018-04-25 08:51] markusguenther commented on #75
I meant the usage of proptype and so on ... see the file for instance in the master.

https://github.com/javivelasco/react-css-themr/blob/master/src/utils/themr-shape.js

[2018-05-18 13:01] DavidHenri008 opened #89 "Css selector with attribute not working"
Hi,
I am using the React-Toolbox and I understood that it uses the react-css-themr behind the scene.
I am trying to use a simple css selector with an attribute and it is not working.

My react code:

My css file:

The AppBar is blue and the hover is working. However since the disabled attribute/property is present I would expect the color to be gray.

Thanks.

[2018-05-18 13:06] DavidHenri008 opened #90 "Multiple class not working"
Hi,
I am using the React-Toolbox and I understood that it uses the react-css-themr behind the scene.
I am trying to add a class dynamically to do the styling but it is not working as expected.

My react code:

My css file:

The AppBar is blue and the hover is working. However since the disabled class is added I would expect the color to be gray.

Thanks.

[2018-05-18 15:47] palashkaria commented on #90
did you pass the theme to you appBar?

what is the 'App Example'?

```<AppBar theme={props.theme} />``` should work

EDIT: if AppBar has a 'disabled' class defined, that is. Otherwise what you want to do is
```<AppBar className={disabled ? theme.disabled : null} />```

[2018-05-18 16:01] DavidHenri008 commented on #90
Yes. I just updated my question since I did not see that my code was not showing properly.

[2018-05-18 16:24] palashkaria commented on #90
in your example you are not using themr at all. This is a question for react-toolbox. You need to pass theme.disabled, check their docs http://react-toolbox.io/#/components/app_bar

do
` <AppBar theme={theme} className={theme.disabled}>`

[2018-05-18 16:28] palashkaria commented on #90
Also, you need to configure sassLoader
https://github.com/react-toolbox/react-toolbox/tree/master#using-sass-loader
[code]

[2018-05-18 16:50] DavidHenri008 commented on #90
Thanks. I understand I do not use themr, but React-Toolbox is using it. May question was really about why adding the disabled className manually was not working as expected. I was able to make it work by using className={theme.disabled} but I had to declare the .disable class separately in the css.

I appreciate your time.

[2018-07-13 07:37] markusguenther opened #92 "[QUESTION] Move to Friends of React"
Hi,

sometimes in live it  happens that you can not effort spending more time on a project.
Because of newer projects, moving to new technologies or what ever. Guess all understand that but it
is a bit sad when all the energy the developer put into a project like this package is in vain when the project is not maintained anymore and the users get frustrated.

It happens quite often in open source

[2018-08-02 10:22] markusguenther commented on #92
Have released the fork:

Will  go thru the other PRs soonish. When you want to join, feel free.

https://github.com/FriendsOfReactJS/react-css-themr
https://www.npmjs.com/package/@friendsofreactjs/react-css-themr

[2018-08-24 08:10] klimashkin commented on #87
A new [@css-modules-theme/react](https://github.com/klimashkin/css-modules-theme) module has been created, which solves css-modules composition in different, more performant and cacheable way, that also doesn't require any hoc or forwardRef wrappers.
Feel free to try it out and post a feedback there

[2018-08-24 14:29] #87 closed, assigned to nobody

[2018-09-28 17:13] harsimranb commented on #92
@markusguenther Thank you for maintaining this project, I appreciate your effort.

[2018-09-28 19:00] markusguenther commented on #92
@harsimranb Thank you that feels good. Does not have that much feedback.

[2018-10-31 09:29] rishichawda opened #94 "Warning on console when using react v16.4"
When used with react v16.4, it throws an error in dev console which was introduced after v16.3 in support of removing the `componentWillMount`, `componentWillReceiveProps`, and `componentWillUpdate` lifecycle methods.

![](https://user-images.githubusercontent.com/26366288/47778274-8087b400-dd1c-11e8-8003-731ff93138cd.png)

Since themr.js uses the `componentWillRecieveProps` lifecycle method, when

[2018-10-31 09:30] ovaldi commented on #92
@markusguenther Thank you for maintaining this project !!!

Could you update the README.md to tell other guys the new repo link: https://github.com/FriendsOfReactJS/react-css-themr

THANKS!

[2018-10-31 10:15] ovaldi commented on #94
@rishichawda this repo is no longer maintained for 1+ year, now we use https://github.com/FriendsOfReactJS/react-css-themr

Please upgrade to the new version.

[2018-10-31 10:24] rishichawda commented on #94
@ovaldi The same problem persists with the https://github.com/FriendsOfReactJS/react-css-themr fork. Should I raise the PR there?

Update : I've raised a pull request on the maintained fork. Hope that gets merged soon. Thanks @ovaldi for letting me know. [Link to PR](https://github.com/FriendsOfReactJS/react-css-themr/pull/43)

[2018-11-01 09:22] markusguenther commented on #92
I really appreciate this @ovaldi, bit I tried to contact the maintainer via twitter and GitHub and get no response. No PR has been merged for one year. So I guess that the link in the README will not happen.

[2018-11-01 11:24] ovaldi commented on #94
@rishichawda Cool!

[2018-11-15 21:44] markusguenther commented on #94
Problem has been solved in the fork ;)

[2018-12-05 07:34] HiirenP opened #97 "React-css-themr worked perfectly locally but not worked when used it after publishing it and used it as component lib into other project"
I used react-css-themr to implement delicious theme into my component(e.g. button) so for component project it works fine (like priority is ---> external theme 1st and if not getting external theme(button.scss from delicious theme folder) it use internal theme (button.scss from component's scss folder)).

this is working fine for this project. but if i deploy this project and use as library into o

[2018-12-10 06:09] HiirenP commented on #97
@javivelasco can you please help sir?

[2018-12-19 00:59] idangozlan commented on #61
@alexeyMohnatkin  what is the solution that you found?

[2018-12-19 18:59] alexeyMohnatkin commented on #61
@idangozlan it's described here https://github.com/javivelasco/react-css-themr/issues/61#issuecomment-301258266

[2018-12-20 17:57] klimashkin commented on #83
I would recommend my https://github.com/klimashkin/css-modules-theme, it's much faster and is react version agnostic.

[2019-02-06 16:47] denjalonso commented on #97
Same issue

[2019-12-21 20:04] trusktr commented on #73
I've opened a request to fix issues like these in TypeScript by bringing declaration files to parity with language features. https://github.com/microsoft/TypeScript/issues/35822